.gallery h2{
    margin-bottom: 40px;
    font-size: 2.3rem;
}
.gallery-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.gallery-item img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.gallery-item{
    text-align: left;
}
.gallery-item h3{
    font-size: 2rem;
}
.gallery-item p{
    font-size: 1.4rem;
    line-height: 1;
    font-family: "Dongle-regular";
}